<p id="notice"><%= notice %></p>

<p>
  <strong>Context:</strong>
  <%= @comment.context %>
</p>

<p>
  <strong>Commentable:</strong>
  <%= @comment.commentable_id %>
</p>



<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
