<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Email_id</th>
      <th>Post</th>
      <th>User</th>
      <th>Summary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        

        <td><%= User.find(post.user_id).email %></td>
        <td><%= post.post %></td>
        <td><%= post.user_id %></td>
        <td><%= post.summary %></td>
         <% if current_user.email==User.find(post.user_id).email %>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <% else %>
          <td><%= link_to 'Show', post %></td>
        <% end %>         
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
